run = "bash run.sh"
language = "java"

[deployment]
run = ["bash", "run.sh"]
deploymentTarget = "cloudrun"

[env]
JAVA_HOME = "/nix/store/5b2q2w1k9f5n3yqx4z1v6cxpb9h4lxmk-openjdk-17.0.12+7"
MYSQL_ROOT_PASSWORD = "root123"
MYSQL_DATABASE = "daily-news"
MYSQL_USER = "root"
MYSQL_PASSWORD = "root123"

[ports]
18095 = { external = true }
3306 = { external = false }